{% extends "layout.html" %}

{% block title %}
    Home Screen
{% endblock %}

{% block main %}


    <body>

        <!-- text for introducing what the game is about-->
        <p id = "text">Welcome to Grief and All of Its Parts. This is a chose your own adventure game about a protagonist who recently lost their father and an AI. Hopefully, it will make you question the ethics of sentinent AI, what rights AI should have in the future, and what types of regulations does our current technology need.</p>

        <p id ="text">Credits: </p>
        <p id ="text">Art: Midjourney AI </p>
        <p id ="text">Writing/Code: Autumn Dorsey </p>

        <p id = "text">I hope you enjoy!</p>

        <a href="/">
            <button id="back">Back</button>
        </a>

        <a href="/Scene_1">
            <button id="back">Start</button>
        </a>


    </body>





{% endblock %}
