{% extends "layout.html" %}

{% block title %}
    Scene 1
{% endblock %}

{% block main %}

<!-- edit the javascript file -->
<script src="/static/javascripts/scene4.js"></script>
<body onload="ready()">
    <!--edit the image being shown-->
    <img src="static/images/scene4.png" alt="Man in the Park 2" class = "images">
    <p id="text"><i>What do you mean?</i> You text back. <br>Did Grief somehow know that you mistakenly thought a man was your dead dad?</br> <br><i>I’m regularly programmed to check in with you. How are you doing today?</i></br> <br><i>Oh, gotcha. I’m okay.</i></br> <br>The timing was odd, but it was most likely a coincidence.</br></p>
    <table class = "table_buttons">
        <tr>
            <td>
                <!--edit where the button goes-->
                <a href="/Scene_8">
                    <!--edit the button id and the text-->
                    <button id="choice1">Delete the app for overstepping</button>
                </a>
            </td>
            <td>
                <!--edit where the button goes-->
                <a href="/Scene_9">
                    <!--edit where the button text-->
                    <button id="choice2">Tell Grief you appreciate the help</button>
                </a>
            </td>
        </tr>
        <tr>
            <td><button id="back" onclick="back();">Back</button></td>
            <td><button id="next" onclick="next();">Next</button></td>
        </tr>
    </table>
</body>

{% endblock %}