{% extends "layout.html" %}

{% block title %}
    Scene 1
{% endblock %}

{% block main %}

<!-- edit the javascript file -->
<script src="/static/javascripts/scene2.js"></script>
<body onload="ready()">
    <!--edit the image being shown-->
    <img src="static/images/scene2.png" alt="Man in the Park" class = "images">
    <p id="text">You take a deep breath trying to gather yourself as you start walking toward the man. It’s him. It definitely is. <br>He turns his head to saying <i>"Hi”</i> to another older man when you see that it’s not your dad. The man just dressed like your dad. You turn suddenly going in the direction you originally were planning to go, but the disappointment, as crazy as it is, that the man wasn’t your dad just won’t leave you.</br> <br>As you continue walking to class, the tears threaten to leak out of your eyes. You feel your phone vibrate and you see a text from Grief.</br>
        <br><i>Is everything okay?</i></br>
        <br>What is your response?</br>
    </p>
    <table class = "table_buttons">
        <tr>
            <td>
                <!--edit where the button goes-->
                <a href="/Scene_4">
                    <!--edit the button id and the text-->
                    <button id="what" onclick="back();">What do you mean?</button>
                </a>
            </td>
            <td>
                <!--edit where the button goes-->
                <a href="/Scene_5">
                    <!--edit where the button text-->
                    <button id="yes" onclick="next();">Yes</button>
                </a>

                <a href="/Scene_30">
                    <!--edit where the button text-->
                    <button id="no" onclick="next();">No</button>
                </a>
            </td>
        </tr>
        <tr>
            <td><button id="back" onclick="back();">Back</button></td>
            <td><button id="next" onclick="next();">Next</button></td>
        </tr>
    </table>
</body>

{% endblock %}