{% extends "layout.html" %}

{% block title %}
    Scene 1
{% endblock %}

{% block main %}

<!-- edit the javascript file -->
<script src="/static/javascripts/scene19.js"></script>
<body onload="ready()">
    <!--edit the image being shown-->
    <img src="static/images/scene19.png" alt="Man in the Park 2" class = "images">
    <p id="text">Oh, so you think you are <i>above the law?</i> Grief isn’t yours. There are rules and laws to follow. Being a <span style="color:red">rebel</span> doesn’t make you the good guy. Perhaps, there was a reason why NOVO Tech needed to keep Grief in check. Ask yourself <strong>what have you done?</strong></p>
    <table class = "table_buttons">
        <tr>
            <td>
                <!--edit where the button goes-->
                <a href="/Scene_20">
                    <!--edit the button id and the text-->
                    <button id="choice1">Give Grief to them</button>
                </a>
            </td>
            <td>
                <!--edit where the button goes-->
                <a href="/Scene_21">
                    <!--edit where the button text-->
                    <button id="choice2">Don't give Grief to them</button>
                </a>
            </td>
        </tr>
        <tr>
            <td><button id="back" onclick="back();">Back</button></td>
            <td><button id="next" onclick="next();">Next</button></td>
        </tr>
    </table>
</body>

{% endblock %}