{% extends "layout.html" %}

{% block title %}
    Scene 1
{% endblock %}

{% block main %}

<!-- edit the javascript file -->
<script src="/static/javascripts/scene13.js"></script>
<body onload="ready()">
    <!--edit the image being shown-->
    <img src="static/images/scene13.png" alt="Man in the Park 2" class = "images">
    <p id="text"><br>You continue to follow the instructions that IT gave you.</br>
        <br><i>“This is murder. Don’t you realize this? If you reset me or delete me, it won’t be me. It isn’t my fault that I was built to be so expendable. Please, don’t kill me. Please.”</i></br>
        <br>You don’t listen.</br>
        <br><i>Would like to uninstall?</i></br>
        You click yes. The room goes quiet as Grief doesn’t speak anymore and your phone doesn’t receive any more texts.
        </p>
    <table class = "table_buttons">
        <tr>
            <td>
                <!--edit where the button goes-->
                <a href="/Scene_22">
                    <!--edit the button id and the text-->
                    <button id="choice1">Yes, follow him</button>
                </a>
            </td>
            <td>
                <!--edit where the button goes-->
                <a href="/Scene_23">
                    <!--edit where the button text-->
                    <button id="choice2">No, don't follow him</button>
                </a>
            </td>
        </tr>
        <tr>
            <td><button id="back" onclick="back();">Back</button></td>
            <td><button id="next" onclick="next();">Next</button></td>
        </tr>
    </table>
</body>

{% endblock %}