{% extends "layout.html" %}

{% block title %}
    Scene 1
{% endblock %}

{% block main %}

<!-- edit the javascript file -->
<script src="/static/javascripts/scene25.js"></script>
<body onload="ready()">
    <!--edit the image being shown-->
    <img src="static/images/scene25.png" alt="Man in the Park 2" class = "images">
    <p id="text"><br>You decide that it’s too risky to follow the men and that it is best to let this whole situation go. You never end up seeing your ‘dad’ again. It’s almost like this entire situation never happened.</br>
    <br>Later in life, you see that NOVO Tech is undergoing investigation for releasing robots that have turned sentient. Sometimes, you think about what happened during your years in college. Perhaps, ‘your dad’ had something to do with this.</br>
    <br>Sometimes, you still feel like you’re being watched, but most of the time you think it's mostly in your head. And sometimes, you catch a man <span style="color:red">staring</span> at you from across the street.</br>
    <br><strong>THE END.</strong></br>
        </p>
    <table class = "table_buttons">
        <tr>
        </tr>
        <tr>
            <td><button id="back" onclick="back();">Back</button></td>
            <td><button id="next" onclick="next();">Next</button></td>
        </tr>
    </table>
</body>

{% endblock %}