{% extends "layout.html" %}

{% block title %}
    Home Screen
{% endblock %}

{% block main %}


    <body>
        <p id = "text">Once you start the game, you will see text and two buttons (Back and Next).</p>
        <p id = "text">Read the text and eventually, you will be able to decide what you should do the in the storyline by clicking new buttons that appear.</p>

        <p id = "text">But be warned, you actions can change the outcome and may lead you to different endings (some better than others).</p>

        <p id = "text">Enjoy!</p>


        <a href="/">
            <button id="back">Back</button>
        </a>

        <a href="/Scene_1">
            <button id="back">Start</button>
        </a>


    </body>





{% endblock %}
