{% extends "layout.html" %}

{% block title %}
    Scene 1
{% endblock %}

{% block main %}

<!-- edit the javascript file -->
<script src="/static/javascripts/scene12.js"></script>
<body onload="ready()">
    <!--edit the image being shown-->
    <img src="static/images/scene12.png" alt="Man in the Park 2" class = "images">
    <p id="text">You think it’s weird and would mess with your head to allow Grief to continue talking in your dad’s voice.<br></br>
        <br><i>“No, I think I’m good. I would rather just have you as a friend instead of a replacement.”</i></br>

        <br><i>“A friend? I like that.”</i></br>

        Suddenly, Grief stops speaking.


        </p>
    <table class = "table_buttons">
        <tr>
            <td>
                <!--edit where the button goes-->
                <a href="/Scene_17">
                    <!--edit the button id and the text-->
                    <button id="choice1">A hard drive</button>
                </a>
            </td>
            <td>
                <!--edit where the button goes-->
                <a href="/Scene_16">
                    <!--edit where the button text-->
                    <button id="choice2">A new phone</button>
                </a>
            </td>
        </tr>
        <tr>
            <td><button id="back" onclick="back();">Back</button></td>
            <td><button id="next" onclick="next();">Next</button></td>
        </tr>
    </table>
</body>

{% endblock %}