{% extends "layout.html" %}

{% block title %}
    Scene 1
{% endblock %}

{% block main %}

<!-- edit the javascript file -->
<script src="/static/javascripts/scene31.js"></script>
<body onload="ready()">
    <!--edit the image being shown-->
    <img src="static/images/scene31.png" class = "images">
    <p id="text"><br>You decide to talk more with your dad. As you talk with him, you realize that your dad has memories that are similar to yours, but something in the scenario is always off. His memory is somehow accurate, but also not. You find out that he is in town for a ‘business meeting’, but has no memory of what his job is. You have more questions for me, but he gets a call.<br>
    <br><i>“I have to go.”</i></br>
    <br>He tells you frantically looking around.</br>
    <br><i>“What do you mean?”</i></br>
    <br><i>“I’ll be back. Just trust me.”</i></br>
    He leaves you in the coffee shop.
        </p>
    <table class = "table_buttons">
        <tr>
            <td>
                <!--edit where the button goes-->
                <a href="/Scene_26">
                    <!--edit the button id and the text-->
                    <button id="choice1">Follow Them</button>
                </a>
            </td>
            <td>
                <!--edit where the button goes-->
                <a href="/Scene_25">
                    <!--edit where the button text-->
                    <button id="choice2">Don't follow them</button>
                </a>
            </td>
        </tr>
        <tr>
            <td><button id="back" onclick="back();">Back</button></td>
            <td><button id="next" onclick="next();">Next</button></td>
        </tr>
    </table>
</body>

{% endblock %}