{% extends "layout.html" %}

{% block title %}
    Scene 1
{% endblock %}

{% block main %}

<!-- edit the javascript file -->
<script src="/static/javascripts/scene30.js"></script>
<body onload="ready()">
    <!--edit the image being shown-->
    <img src="static/images/scene30.png" alt="Man in the Park 2" class = "images">
    <p id="text"></p>
    <table class = "table_buttons">
        <tr>
            <td>
                <!--edit where the button goes-->
                <a href="/Scene_8">
                    <!--edit the button id and the text-->
                    <button id="choice1">Delete the app for overstepping</button>
                </a>
            </td>
            <td>
                <!--edit where the button goes-->
                <a href="/Scene_9">
                    <!--edit where the button text-->
                    <button id="choice2">Tell Grief you appreciate the help</button>
                </a>
            </td>
        </tr>
        <tr>
            <td><button id="back" onclick="back();">Back</button></td>
            <td><button id="next" onclick="next();">Next</button></td>
        </tr>
    </table>
</body>

{% endblock %}