{% extends "layout.html" %}

{% block title %}
    Scene 1
{% endblock %}

{% block main %}

<!-- loading javascript file -->
<script src="/static/javascripts/scene1.js"></script>
<body onload="ready()">
    <!-- loading image files-->
    <img src="static/images/scene1.png" alt="The Funeral" class = "images">

    <!-- story text -->
    <p id="text">The coffin closed as you tried to get a last glimpse at your father’s face. How could this have happened? It was only three days ago that you had facetimed him and now he was lying in the ground, dead.</p>
    <table class = "table_buttons">
        <tr>
            <td>
                <!--decision buttons to decide actions -->
                <a href="/Scene_2">
                    <button id="choice1">Walk Up to the Man</button>
                </a>
            </td>
            <td>
                <!--decision buttons to decide actions -->
                <a href="/Scene_3">
                    <button id="choice2">Keep Walking</button>
                </a>
            </td>
        </tr>
        <tr>
            <!--buttons for back and next -->
            <td><button id="back" onclick="back();">Back</button></td>
            <td><button id="next" onclick="next();">Next</button></td>
        </tr>
    </table>
</body>

{% endblock %}