{% extends "layout.html" %}

{% block title %}
    Scene 1
{% endblock %}

{% block main %}

<!-- edit the javascript file -->
<script src="/static/javascripts/scene3.js"></script>
<body onload="ready()">
    <!--edit the image being shown-->
    <img src="static/images/scene3.png" alt="Man in the Park 2" class = "images">
    <p id="text">You decide to keep walking to class. <br><i>Wow, I must be losing my mind.</i></br> <br>You turn around to glance one more time at the man. It’s not your dad. It’s just an older man who dresses the same as your dad. Although you knew that it wasn’t your dad, that doesn’t stop the sadness of missing one of the most important people in your life from hitting.</br> <br>Before you can dive deeper into those thoughts, you get a text from Grief.</br> <br><i>Is everything okay?</i></br>
    <br>What is your response?</br></p>

    <table class = "table_buttons">
        <tr>
            <td>
                <!--edit where the button goes-->
                <a href="/Scene_4">
                    <!--edit the button id and the text-->
                    <button id="what">What do you mean?</button>
                </a>
            </td>
            <td>
                <!--edit where the button goes-->
                <a href="/Scene_5">
                    <!--edit where the button text-->
                    <button id="yes">Yes</button>
                </a>

                <a href="/Scene_30">
                    <!--edit where the button text-->
                    <button id="no">No</button>
                </a>
            </td>
        </tr>
        <tr>
            <td><button id="back" onclick="back();">Back</button></td>
            <td><button id="next" onclick="next();">Next</button></td>
        </tr>
    </table>
</body>

{% endblock %}