{% extends "layout.html" %}

{% block title %}
    Scene 1
{% endblock %}

{% block main %}

<!-- edit the javascript file -->
<script src="/static/javascripts/scene26.js"></script>
<body onload="ready()">
    <!--edit the image being shown-->
    <img src="static/images/scene26.png" alt="Man in the Park 2" class = "images">
    <p id="text"><br>You get on your super-speed scooter and start to follow the black van. You see them pull up to a warehouse and throw your dad in.</br> <br>You wait for them to leave before getting closer.As you approach the warehouse, you see the NOVO Tech logo on the outside. You look through a window and see rows of humanoid robots in the warehouse.</br> <br>The robots were just standing there looking forward. They didn’t seem like they were on. <i>What was NOVO Tech doing with these robots and why was your dad brought here?</i></br>
        </p>
    <table class = "table_buttons">
        <tr>
            <td>
                <!--edit where the button goes-->
                <a href="/Scene_28">
                    <!--edit the button id and the text-->
                    <button id="choice1">Fight Back</button>
                </a>
            </td>
            <td>
                <!--edit where the button goes-->
                <a href="/Scene_27">
                    <!--edit where the button text-->
                    <button id="choice2">Don't Fight Back</button>
                </a>
            </td>
        </tr>
        <tr>
            <td><button id="back" onclick="back();">Back</button></td>
            <td><button id="next" onclick="next();">Next</button></td>
        </tr>
    </table>
</body>

{% endblock %}