{% extends "layout.html" %}

{% block title %}
    Scene 1
{% endblock %}

{% block main %}

<!-- edit the javascript file -->
<script src="/static/javascripts/scene23.js"></script>
<body onload="ready()">
    <!--edit the image being shown-->
    <img src="static/images/scene23.png" alt="Man in the Park 2" class = "images">
    <p id="text"><br>You must be losing your mind. Either that or you had a stalker.The next day you see him again. Staring straight at you and you stare back. Again, he quickly turns away and starts to walk away. Curiosity gets the best of you so you decide to follow him.He starts to run, but he trips and you are able to catch him. It really is your dad.</br>
    <br><i>“Dad?”</i></br>
    <br>You’re shocked. What the hell is going on?</br>
    <br><i>“Uh..hi.”</i></br>
        </p>
    <table class = "table_buttons">
        <tr>
            <td>
                <!--edit where the button goes-->
                <a href="/Scene_24">
                    <!--edit the button id and the text-->
                    <button id="choice1">Leave him alone</button>
                </a>
            </td>
            <td>
                <!--edit where the button goes-->
                <a href="/Scene_31">
                    <!--edit where the button text-->
                    <button id="choice2">Find out more</button>
                </a>
            </td>
        </tr>
        <tr>
            <td><button id="back" onclick="back();">Back</button></td>
            <td><button id="next" onclick="next();">Next</button></td>
        </tr>
    </table>
</body>

{% endblock %}