{% extends "layout.html" %}

{% block title %}
    Scene 1
{% endblock %}

{% block main %}

<!-- edit the javascript file -->
<script src="/static/javascripts/scene28.js"></script>
<body onload="ready()">
    <!--edit the image being shown-->
    <img src="static/images/scene28.png" class = "images">
    <p id="text"><br>You struggle against them. You try to run, but they are too strong for you to beat them. They drag you to the warehouse, and throw you in, and tie you up like they did your dad. One of the men grab your wrist and use a scanner to scan your wrist. A blue barcode appears.</br>
    <br><i>“Yea, she’s one of them.”</i></br> The man says.
    <br><i>One of them? What does that mean?</i></br>
    <br><i>“One of them? One of who?”</i></br> You ask, but they ignore you.
    <br><i>“I’ll send a report in that we found 2 more of them.”</i></br> Another man says. The men leave and lock the warehouse.

        </p>
    <table class = "table_buttons">
        <tr>
        <tr>
            <td><button id="back" onclick="back();">Back</button></td>
            <td><button id="next" onclick="next();">Next</button></td>
        </tr>
    </table>
</body>

{% endblock %}