{% extends "layout.html" %}

{{ content }}

{% block title %}
    Home Screen
{% endblock %}

{% block main %}


    <body>
        <!-- image of the cover-->
        <img src="static/images/cover.png" alt="Cover Art" class = "images">

        <!-- title -->
        <p class="title"> Grief and All of Its Parts</p>

        <!--going to scene 1 after clicking the start button-->
        <a href="/Scene_1">
            <button id="back" type="submit">Start</button>
        </a>

        <!--going to about about after clicking the about button-->
        <a href="/about">
            <button id="back" type="submit">About</button>
        </a>

        <!--going to help section after clicking the help button-->
        <a href="/help">
            <button id="back" type="submit">Help</button>
        </a>



    </body>





{% endblock %}
